<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Directory</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Users Directory</h1>

    <ul>
    <% if (users) { %>
        <% users.forEach((user) => { %>
            <li>
                <a href="/users/<%= user.username %>/show">
            <%= user.username %>
            </a>
            </li>
            <% }) %>
            <% } else { %> There are no users.
                <% } %>
            </ul>


</body>
</html>